@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  src: url("../fonts/LatoBold.eot");
  src: local("☺"), url("../fonts/LatoBold.woff") format("woff"), url("fonts/LatoBold.ttf") format("truetype"), url("fonts/LatoBold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/LatoLight.eot");
  src: local("☺"), url("../fonts/LatoLight.woff") format("woff"), url("fonts/LatoLight.ttf") format("truetype"), url("fonts/LatoLight.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/LatoRegular.eot");
  src: local("☺"), url("../fonts/LatoRegular.woff") format("woff"), url("fonts/LatoRegular.ttf") format("truetype"), url("fonts/LatoRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Semibold.eot");
  src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype"), url("fonts/Lato-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: 'Lato', sans-serif; }
  @media (max-width: 767px) {
    body.lock {
      overflow: hidden; } }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767px) {
    .container {
      max-width: none; } }

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px; }
  @media (max-width: 992px) {
    .header__top {
      display: none; } }

.header__social {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.header__link {
  font-weight: 400;
  font-size: 12px;
  color: #828282;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .header__link:hover {
    color: #09ABE4; }
  .header__link:nth-child(1):after {
    content: "";
    margin: 0px 25px 0px 25px;
    opacity: 0.2;
    border: 1px solid #828282;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .header__link:nth-child(2):after {
    content: "";
    margin: 0px 25px 0px 25px;
    opacity: 0.2;
    border: 1px solid #828282;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.help__link {
  font-weight: 600;
  font-size: 12px;
  fill: #828282;
  color: #828282;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .help__link:hover {
    color: #282696;
    fill: #282696; }
  .help__link:after {
    content: "";
    margin: 0px 25px 0px 25px;
    opacity: 0.2;
    border: 1px solid #828282;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: default; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social__element {
    cursor: pointer;
    margin-top: 2px;
    fill: #828282;
    margin-right: 12px;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .social__element:hover {
      fill: #282696; }

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 175px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 992px) {
    .header__main {
      height: 120px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (max-width: 426px) {
    .header__main {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

@media (max-width: 426px) {
  .header__logo img {
    width: 150px;
    height: 38px; } }

.header__number {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 114px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333; }
  @media (max-width: 1200px) {
    .header__number {
      margin-left: 20px;
      font-size: 19px; } }
  @media (max-width: 992px) {
    .header__number {
      display: none; } }

.header__serch {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 292px;
  margin-right: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E3E3E3; }
  @media (max-width: 1200px) {
    .header__serch {
      margin-right: 20px;
      margin-left: 20px; } }
  @media (max-width: 426px) {
    .header__serch {
      max-width: 100%;
      margin-right: 0px;
      margin-left: 0px;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; } }

.header__buttns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__burger {
  display: none; }
  @media (max-width: 767px) {
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 15; }
      .header__burger span {
        position: absolute;
        background-color: #09ABE4;
        width: 15px;
        height: 2px;
        top: 9px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .header__burger :first-child {
        top: 0px;
        width: 30px; }
      .header__burger :last-child {
        width: 30px;
        bottom: 0px;
        top: auto; }
      .header__burger.active :nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px; }
      .header__burger.active :nth-child(2) {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
      .header__burger.active :nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 9px; } }

.search__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 8px; }

.buttns-block__signin:after {
  content: "";
  margin: 0px 20px 0px 20px;
  opacity: 0.2;
  border: 1px solid #828282;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

@media (max-width: 770px) {
  .buttns-block__signin:after {
    content: "";
    margin: 0px 5px 0px 5px;
    opacity: 0.2;
    border: 1px solid #828282;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); } }

.buttns-block__link {
  margin-left: 12px;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }
  .buttns-block__link:hover {
    text-decoration: underline; }
  @media (max-width: 992px) {
    .buttns-block__link {
      display: none; } }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 10;
    padding: 70px 0px 0px 20px; } }

.menu__body.active {
  top: 0; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none; }
  @media (max-width: 767px) {
    .menu__list {
      display: block; }
      .menu__list li {
        margin-bottom: 20px; } }

.menu__link {
  text-transform: uppercase;
  color: #333333;
  letter-spacing: 0.03em;
  font-size: 16px;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  .menu__link:hover {
    color: #09ABE4; }
  @media (max-width: 992px) {
    .menu__link {
      font-size: 12px; } }
  @media (max-width: 767px) {
    .menu__link {
      font-size: 20px; }
      .menu__link li {
        margin-bottom: 20px; } }

.slider-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 51px; }
  @media (max-width: 767px) {
    .slider-info__content {
      margin-top: 20px; } }
  .slider-info__content .slick-list {
    overflow: hidden; }
  .slider-info__content .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slider-info__content .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    margin: -15px 0px 0px 0px;
    font-size: 0px;
    width: 10px;
    height: 30px; }
  .slider-info__content .slick-arrow.slick-prev {
    left: 40px;
    background: url(../img/slider_left.svg) 0 0/100% no-repeat; }
    @media (max-width: 992px) {
      .slider-info__content .slick-arrow.slick-prev {
        left: 20px; } }
    @media (max-width: 767px) {
      .slider-info__content .slick-arrow.slick-prev {
        left: 10px; } }
    @media (max-width: 470px) {
      .slider-info__content .slick-arrow.slick-prev {
        left: 8px;
        width: 9.27px;
        height: 23.23px;
        margin: -11.61px 0px 0px 0px; } }
  .slider-info__content .slick-arrow.slick-next {
    right: 40px;
    background: url(../img/slider_right.svg) 0 0/100% no-repeat; }
    @media (max-width: 992px) {
      .slider-info__content .slick-arrow.slick-next {
        right: 20px; } }
    @media (max-width: 767px) {
      .slider-info__content .slick-arrow.slick-next {
        right: 10px; } }
    @media (max-width: 470px) {
      .slider-info__content .slick-arrow.slick-next {
        right: 8px;
        width: 9.27px;
        height: 23.23px;
        margin: -11.61px 0px 0px 0px; } }
  .slider-info__content .slick-dots {
    position: absolute;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 51px;
    left: 80px; }
    @media (max-width: 992px) {
      .slider-info__content .slick-dots {
        bottom: 20px;
        left: 60px; } }
    @media (max-width: 767px) {
      .slider-info__content .slick-dots {
        bottom: 5px;
        left: 65px; } }
    @media (max-width: 470px) {
      .slider-info__content .slick-dots {
        display: none; } }
  .slider-info__content .slick-dots li {
    list-style: none;
    margin: 0px 7px; }
    @media (max-width: 470px) {
      .slider-info__content .slick-dots li {
        display: none; } }
  .slider-info__content .slick-dots li.slick-active button {
    background-color: #FFFFFF; }
    @media (max-width: 470px) {
      .slider-info__content .slick-dots li.slick-active button {
        display: none; } }
  .slider-info__content .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%; }
    @media (max-width: 470px) {
      .slider-info__content .slick-dots li button {
        display: none; } }

.slider-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.slider-info__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-linear-gradient(246.68deg, rgba(40, 38, 150, 0.98) 24.1%, #09ABE4 123.85%), url(/img/bg.jpg);
  background: -o-linear-gradient(246.68deg, rgba(40, 38, 150, 0.98) 24.1%, #09ABE4 123.85%), url(/img/bg.jpg);
  background: linear-gradient(203.32deg, rgba(40, 38, 150, 0.98) 24.1%, #09ABE4 123.85%), url(/img/bg.jpg); }
  @media (max-width: 992px) {
    .slider-info__left {
      -ms-flex-preferred-size: 700px;
      flex-basis: 700px; } }
  @media (max-width: 767px) {
    .slider-info__left {
      -ms-flex-preferred-size: 900px;
      flex-basis: 900px; } }

.slider-info__title {
  font-weight: 400;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-left: 90px;
  margin-bottom: 26px; }
  @media (max-width: 1200px) {
    .slider-info__title {
      font-size: 25px;
      margin-bottom: 16px; } }
  @media (max-width: 992px) {
    .slider-info__title {
      font-size: 20px;
      margin-bottom: 10px;
      padding-left: 70px; } }
  @media (max-width: 767px) {
    .slider-info__title {
      padding-top: 33px;
      padding-left: 30px;
      max-width: 300px; } }

.slider-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding-left: 90px; }
  @media (max-width: 1200px) {
    .slider-info__text {
      font-size: 16px;
      line-height: 22px; } }
  @media (max-width: 992px) {
    .slider-info__text {
      font-size: 14px;
      padding-left: 70px; } }
  @media (max-width: 767px) {
    .slider-info__text {
      max-width: 250px;
      padding-left: 30px; } }

.slider-info__button {
  width: 230px;
  height: 50px;
  border: 0.75px solid #FFFFFF;
  background: none;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 21px 0px 0px 90px;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms; }
  .slider-info__button:hover {
    color: #333333;
    background-color: #FFFFFF; }
  @media (max-width: 992px) {
    .slider-info__button {
      margin: 21px 0px 0px 70px; } }
  @media (max-width: 767px) {
    .slider-info__button {
      margin: 21px 0px 33px 30px; } }

.slider-info__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 750px) {
    .slider-info__image {
      display: none; } }
  .slider-info__image img {
    max-width: 100%; }

.glasses-selection__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 100px;
  background: url(../img/bg-1.jpg) no-repeat center top/cover;
  height: 340px; }
  @media (max-width: 480px) {
    .glasses-selection__content {
      height: 290px; } }
  @media (max-width: 767px) {
    .glasses-selection__content {
      margin-top: 30px;
      height: 250px; } }

.glasses-selection__left {
  max-width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 91px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 992px) {
    .glasses-selection__left {
      padding-left: 50px; } }
  @media (max-width: 767px) {
    .glasses-selection__left {
      padding-left: 40px; } }
  @media (max-width: 480px) {
    .glasses-selection__left {
      padding-left: 44px; } }
  @media (max-width: 380px) {
    .glasses-selection__left {
      padding-left: 30px; } }

.glasses-selection__title {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 39px; }
  @media (max-width: 992px) {
    .glasses-selection__title {
      margin-bottom: 25px; } }
  @media (max-width: 380px) {
    .glasses-selection__title {
      font-size: 18px;
      line-height: 22px; } }

.glasses-selection__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 23px; }
  @media (max-width: 380px) {
    .glasses-selection__text {
      font-size: 14px;
      line-height: 19px; } }

.glasses-selection__button {
  width: 230px;
  height: 50px;
  border: 0.75px solid #FFFFFF;
  background: none;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms; }
  .glasses-selection__button:hover {
    color: #333333;
    background-color: #FFFFFF; }

.glasses-selection__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px; }
  .glasses-selection__right img {
    max-width: 100%; }
  @media (max-width: 767px) {
    .glasses-selection__right {
      display: none; } }

.popular-products__slider {
  position: relative; }
  .popular-products__slider .slick-list {
    overflow: hidden; }
  .popular-products__slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .popular-products__slider .slick-arrow {
    position: absolute;
    top: 40%;
    z-index: 10;
    margin: -15px 0px 0px 0px;
    font-size: 0px;
    width: 10px;
    height: 30px; }
  .popular-products__slider .slick-arrow.slick-prev {
    left: -30px;
    background: url(../img/sliderpopular_left.svg) 0 0/100% no-repeat; }
    @media (max-width: 992px) {
      .popular-products__slider .slick-arrow.slick-prev {
        left: -5px; } }
    @media (max-width: 375px) {
      .popular-products__slider .slick-arrow.slick-prev {
        left: 5px; } }
  .popular-products__slider .slick-arrow.slick-next {
    right: -30px;
    background: url(../img/sliderpopular_right.svg) 0 0/100% no-repeat; }
    @media (max-width: 992px) {
      .popular-products__slider .slick-arrow.slick-next {
        right: -5px; } }
    @media (max-width: 375px) {
      .popular-products__slider .slick-arrow.slick-next {
        right: 5px; } }

.popular-products__item {
  width: 360px;
  height: 500px;
  border: 1px solid #ffffff; }
  @media (max-width: 375px) {
    .popular-products__item {
      width: 290px;
      height: 425px; } }

.popular-products__sliderrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  .popular-products__sliderrow:hover {
    -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15); }

.popular-products__imagebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  height: 330px;
  background-color: #F2F2F2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px; }
  @media (max-width: 375px) {
    .popular-products__imagebox {
      width: 290px;
      height: 307px; } }

.popular-products__image {
  width: 254px;
  height: 254px; }
  @media (max-width: 375px) {
    .popular-products__image {
      width: 220px;
      height: 220px; } }

.popular-products__textbox {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 375px) {
    .popular-products__textbox {
      width: 290px; } }

.popular-products__title {
  margin-top: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #333333; }
  @media (max-width: 375px) {
    .popular-products__title {
      font-size: 16px;
      line-height: 21px; } }

.popular-products__price {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #09ABE4; }

.popular-products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  margin-bottom: 32px; }
  @media (max-width: 375px) {
    .popular-products__buttons {
      margin-top: 23px;
      margin-bottom: 10px; } }

.popular-products__link {
  margin-right: 7px;
  fill: #ffffff;
  stroke: #09ABE4; }
  .popular-products__link path {
    fill: #09ABE4;
    stroke: #09ABE4; }
  .popular-products__link:hover {
    fill: #09ABE4;
    stroke: #ffffff; }
    .popular-products__link:hover path {
      fill: #ffffff;
      stroke: #ffffff; }

.popular-products__incart {
  width: 130px;
  height: 40px;
  border: 1px solid #09ABE4;
  color: #09ABE4;
  background-color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms; }
  .popular-products__incart:hover {
    color: #ffffff;
    background-color: #09ABE4; }
  .popular-products__incart:active {
    background: -webkit-linear-gradient(200.7deg, #282696 0%, #09ABE4 100%);
    background: -o-linear-gradient(200.7deg, #282696 0%, #09ABE4 100%);
    background: linear-gradient(249.3deg, #282696 0%, #09ABE4 100%);
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25); }

.title__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .title__box {
      margin-top: 30px;
      margin-bottom: 15px; } }

.title__text {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #333333; }

.title__link {
  color: #09ABE4;
  font-size: 18px;
  line-height: 22px; }

.discounts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .discounts__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.discounts__item {
  position: relative;
  max-width: 690px; }
  .discounts__item:first-child {
    margin-right: 20px; }
  @media (max-width: 767px) {
    .discounts__item:first-child {
      margin-right: 0px;
      margin-bottom: 20px; } }

.discounts__image img {
  width: 100%;
  height: 100%; }

.discounts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 50px;
  bottom: 0em;
  z-index: 10;
  width: 100%;
  height: 154px;
  position: absolute;
  background: -webkit-linear-gradient(247.6deg, rgba(40, 38, 150, 0.85) 46.3%, #09ABE4 121.3%);
  background: -o-linear-gradient(247.6deg, rgba(40, 38, 150, 0.85) 46.3%, #09ABE4 121.3%);
  background: linear-gradient(202.4deg, rgba(40, 38, 150, 0.85) 46.3%, #09ABE4 121.3%); }
  @media (max-width: 1200px) {
    .discounts__text {
      height: 120px;
      padding: 25px; } }
  @media (max-width: 992px) {
    .discounts__text {
      height: 80px;
      padding: 25px; } }

.discounts__title {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF; }
  @media (max-width: 1200px) {
    .discounts__title {
      font-size: 20px; } }
  @media (max-width: 992px) {
    .discounts__title {
      font-size: 16px; } }

.discounts__subtitle {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  margin: 18px 0px 18px 0px; }
  @media (max-width: 1200px) {
    .discounts__subtitle {
      font-size: 16px;
      margin: 14px 0px 14px 0px; } }
  @media (max-width: 992px) {
    .discounts__subtitle {
      font-size: 12px;
      margin: 10px 0px 10px 0px; } }

.discounts__buttn {
  background: none;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
  opacity: 0.7; }
  @media (max-width: 992px) {
    .discounts__buttn {
      font-size: 11px; } }

.about-company {
  margin-top: 100px; }
  @media (max-width: 767px) {
    .about-company {
      margin-top: 50px; } }
  .about-company__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .about-company__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: url(../img/bg-1.jpg) no-repeat center top/cover;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 20px; }
    @media (max-width: 1200px) {
      .about-company__left :nth-child(3) {
        display: none;
        padding: 5px; } }
    @media (max-width: 992px) {
      .about-company__left {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .about-company__left :nth-child(3) {
          display: block;
          padding: 5px; } }
  .about-company__title {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 60px 0px 0px 50px; }
    @media (max-width: 1200px) {
      .about-company__title {
        margin: 20px 0px 0px 25px; } }
    @media (max-width: 767px) {
      .about-company__title {
        margin: 15px 0px 0px 15px; } }
  .about-company__text {
    max-width: 603px;
    margin: 26px 0px 0px 50px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.8; }
    @media (max-width: 1200px) {
      .about-company__text {
        margin: 20px 0px 0px 25px; } }
    @media (max-width: 767px) {
      .about-company__text {
        font-size: 14px;
        line-height: 20px;
        margin: 15px 0px 0px 15px; } }
  .about-company__buttn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0px 0px 50px;
    padding-bottom: 30px;
    background: none;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: underline;
    opacity: 0.7; }
    @media (max-width: 1200px) {
      .about-company__buttn {
        margin: 20px 0px 0px 25px;
        padding-bottom: 15px; } }
    @media (max-width: 767px) {
      .about-company__buttn {
        margin: 15px 0px 0px 15px; } }
  .about-company__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    @media (max-width: 992px) {
      .about-company__right {
        display: none; } }
    .about-company__right img {
      max-width: 100%;
      max-height: 100%; }

.footer__top {
  margin-top: 100px; }
  @media (max-width: 992px) {
    .footer__top {
      display: none; } }

.footer__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 216px;
  flex: 0 0 216px;
  padding-right: 160px; }
  @media (max-width: 1200px) {
    .footer__logo {
      padding-right: 30px; } }

.footer__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none; }

.footer__menu-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  .footer__menu-link:hover {
    color: #09ABE4; }
  @media (max-width: 1200px) {
    .footer__menu-link {
      font-size: 14px;
      line-height: 16px; } }

.footer__main {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 992px) {
    .footer__main {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 770px) {
    .footer__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 30px; } }

.footer__column {
  max-width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 770px) {
    .footer__column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 100%;
      padding-bottom: 20px; } }

.footer__text {
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #333333; }
  @media (max-width: 770px) {
    .footer__text {
      margin-bottom: 20px; } }

.footer__title {
  margin-bottom: 28px;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #13107A; }

.footer__link {
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #333333; }
  @media (max-width: 1200px) {
    .footer__link {
      font-size: 18px;
      line-height: 24px; } }

.footer__linkblue {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #13107A;
  margin-top: 15px; }

.footer__social-text {
  margin-right: 18px; }

.footer__social {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-left {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
  @media (max-width: 992px) {
    .footer-left {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }
  @media (max-width: 770px) {
    .footer-left {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; } }

.footer-shops {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }
  @media (max-width: 992px) {
    .footer-shops {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }
  @media (max-width: 770px) {
    .footer-shops {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

.footer-contact {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }
  @media (max-width: 992px) {
    .footer-contact {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }
  @media (max-width: 770px) {
    .footer-contact {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.footer-right {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }
  @media (max-width: 992px) {
    .footer-right {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; } }
  @media (max-width: 770px) {
    .footer-right {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }

.subscribe__input {
  background: #F7F7F7;
  width: 80%;
  height: 40px; }

.subscribe__button {
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  background: -webkit-linear-gradient(221.22deg, rgba(40, 38, 150, 0.96) 0%, #09ABE4 100%);
  background: -o-linear-gradient(221.22deg, rgba(40, 38, 150, 0.96) 0%, #09ABE4 100%);
  background: linear-gradient(228.78deg, rgba(40, 38, 150, 0.96) 0%, #09ABE4 100%); }

* {
  border: 0px solid red; }
